body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin: 0.75rem;
  border: 0;
  border-top: 2px solid #e6e6e61a;
}

.list td {
  text-align: center;
  vertical-align: middle;
}

.list tr {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
}
.main {
  padding-left: 9rem;
  padding-top: 3rem;
  width: 90%;
  max-width: 920px;
}

.main {
  text-align: center;
}


.header {
  padding-top:1rem;
  text-align: center;
  font-size: 1.6rem;
}

.navbar {
  padding-left: 6rem;
}

